<h2>Detalhes do produto <%= @produto.titulo %></h2>
<h4>
<p>Código: <%= @produto.id %></p>
<p>Descrição: <%=h @produto.descricao %></p>
<p>Imagem: <%= image_tag @produto.imagem.url(:thumb) %></p>
<p>Valor: <%=h @produto.preco %></p>
<p>Validade: <%= @produto.validade.strftime("%d/%m/%Y") %></p>
<p>Grupo: <%=h @produto.grupo.descricao %></p>
<p>Data do Cadastro: <%= @produto.created_at.strftime("%d/%m/%Y %H:%M") %></p>
</h4>

<p>
	<%= link_to 'Voltar', produtos_path %>
    <%= link_to 'Editar' , edit_produto_path %>
    <%= link_to 'Excluir', produto_path, method: :delete, data: { confirm: 'Você tem certeza que deseja apagar o produto?' } %>
</p>
